<div>
  <!-- <div *ngFor="let h of heroes">
    <h2>{{h.name | uppercase}}'s Details</h2>
    <div><span>id: </span>{{h.id}}</div>
    <div><span>name: </span>{{h.name}}</div>
  </div> -->
  <!-- <h2>{{hero.name}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div> -->

  <h2>Two Way binding </h2>
  <div *ngFor="let hero of heroes">
    <h2>{{hero.name}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>name: </span>{{hero.name}}</div>

    <input id="name" [(ngModel)]="hero.name" placeholder="hero.name">
  </div>

</div>